		<div class="row">
			<div  class="col-md-10">
				<div class="panel panel-default">
				    <div class="panel-body">
				       	 基本信息
				    </div>
				   	<ul class="list-group">
				        <li class="list-group-item item">责任人：张鑫  13023948374</li>
				        <li class="list-group-item item">责任人单位：南风里居委会</li>
				    </ul>
				    <div class="panel-body panel-body-a">
				       	 请输入栏目名称
				    </div>
				    
		            <div class="row">
		            	<input-file></input-file>
			        </div>
				    <div class="panel-body panel-body-a">
				       	 评论区
				    </div>
				   	<ul class="list-group zuijia">
					    <li class="list-group-item item1">李大爷：这个活动举办的非常好。希望以后多举办类似的活动<span class="badge badge-a">回复</span><span class="badge badge-a">2017-3-5 09:57</span></li>
					    <li class="list-group-item item1">张大妈回复李大爷：上次我去了，可热闹了，可惜一年只能去一次<span class="badge badge-a">回复</span><span class="badge badge-a">2017-3-5 09:57</span></li>
					    <li class="list-group-item item1">王大爷：居委会为了居民真是煞费苦心了，谢谢这些社区工作者<span class="badge badge-a">回复</span><span class="badge badge-a">2017-3-5 09:57</span></li>
					    <li class="list-group-item item1">赵大爷：我儿子都没给我过生日，没想到居委会还有这种活动<span class="badge badge-a">回复</span><span class="badge badge-a">2017-3-5 09:57</span></li>
					    <li class="list-group-item item1">钱大妈：活动丰富多彩，给我的老年生活带来了欢乐<span class="badge badge-a">回复</span><span class="badge badge-a">2017-3-5 09:57</span></li>
					</ul>
				</div>
			</div>
	        <div class="col-md-2">
	            <nav id="navbar-example2" class="">
	
	                <div class="timeline-wrap clearfix" style="position: fixed;">
	                    <span class="circle top"></span>
	                    <span class="circle bottom"></span>
	                    <ul class="nav navbar-nav time-line uls">
	                        <li class=""><a href="#info">基本信息</a></li>
	                        <li class="active"><a href="#name">请输入栏目名称</a></li>
	                        <li class="dropdown"><a href="#resident">居民预约</a></li>
	                    </ul>
	                </div>
	            </nav>
	        </div>
	        <div class="text">
	        	<textarea name="" id="" cols="30" rows="5" ng-model="tet"></textarea>
	        	<button type="button" class="btn btn-primary" data-toggle="button" ng-click="fn(tet)">发送</button>
	        </div>
		</div>